*{margin: 0; padding: 0;}

.App {
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
    /* background-color: #009bff; */
    background: -webkit-linear-gradient(left,#074C00,#B8E2A3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.secApp {
    margin: 50px auto;
    width: 30%;
    height: 40vh;   
    background-color: #fff;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
    display: grid;
    grid-template-columns: 1fr ;
  
}
.add-btn {
    padding: 5px;
    margin:10px 0;
    border:0; 
    border-bottom:1px solid #eee; 
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:25px;
    width:150px;
    height: 48px;
    color: white;
    background-color: #074C00;
    font-size: 30px;
  }
  .del-class {
    padding: 5px;
    margin:10px 0;
    border:0; 
    border-bottom:1px solid #eee; 
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:25px;
    width:150px;
    height: 48px;
    color: white;
    background-color: #d11a2a;
    font-size: 30px;
  }
  .btn-class {
      display: flex;
      justify-content: space-evenly;
  }
  .result {
    display: flex;
    justify-content: center;
  }
  .status {
    display: flex;
    justify-content: center;
}
h1 {
    margin-top: 15px;
}